<div class="container" style="margin-top: 1%">
  <div class="row">
    <div class="col-md-6 flex-center">
      <img src="../../assets/img/template-1.jpg" alt="">
    </div>
    <div class="col-md-6 flex-center">
      <img src="../../assets/img/template-2.jpg" alt="" style="width: 100%">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 flex-center"> <button (click)="template1()" rounded="true" class=" my-4 waves-effect z-depth-0 btn-lg blue-gradient btn-block col-md-8 flex-center" mdbWavesEffect>Select</button> </div>
    <div class="col-md-6 flex-center"> <button (click)="template2()" rounded="true" class=" my-4 waves-effect z-depth-0 btn-lg blue-gradient btn-block col-md-8 flex-center" mdbWavesEffect>Select</button> </div>
  </div>
</div>
