<div id="cv" class="">
  <div class="mainDetails">
    <div id="headshot" class="">
      <img src="../../../assets/img/headshot.jpg" alt="{{userDetails.details.firstName}}.jpg" />
    </div>

    <div id="name">
      <h1 class=""> {{userDetails.fullName}}</h1>
      <h2 class="">{{userDetails.title}}</h2>
    </div>

    <div id="contactDetails" class="">
      <ul>
        <li>e-mail: <a href="mailto:{{userDetails.email}}" target="_blank">{{userDetails.email}}</a></li>
        <!--<li>w: <a href="http://www.bloggs.com">www.bloggs.com</a></li>-->
        <li>Contact: {{userDetails.contact}}</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div id="mainArea" class="">
    <section>
      <article>
        <div class="sectionTitle">
          <h1>Summary</h1>
        </div>

        <div class="sectionContent">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at scelerisque in, porta at lacus. Maecenas dapibus luctus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
        </div>
      </article>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Experience</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>{{userDetails.details.projects[0]}}</h2>
          <p class="subDetails">April 2011 - Present</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
        </article>

        <article>
          <h2>{{userDetails.details.projects[1]}}</h2>
          <p class="subDetails">Janruary 2007 - March 2011</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
        </article>

        <article>
          <h2>{{userDetails.details.projects[0]}}</h2>
          <p class="subDetails">October 2004 - December 2006</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Key Skills</h1>
      </div>

      <div class="sectionContent">
        <ul class="keySkills">
          <li>{{userDetails.details.aliases[0]}}</li>
          <li>{{userDetails.details.aliases[1]}}</li>
          <li>{{userDetails.details.aliases[2]}}</li>
          <li>{{userDetails.details.aliases[3]}}</li>
          <li>{{userDetails.details.aliases[4]}}</li>
          <li>{{userDetails.details.aliases[5]}}</li>
          <li>{{userDetails.details.aliases[6]}}</li>
          <li>{{userDetails.details.aliases[7]}}</li>
          <li>{{userDetails.details.aliases[8]}}</li>
          <li>{{userDetails.details.aliases[9]}}</li>
          <li>{{userDetails.details.aliases[10]}}</li>
          <li>{{userDetails.details.aliases[11]}}</li>
        </ul>
      </div>
      <div class="clear"></div>
    </section>


    <section>
      <div class="sectionTitle">
        <h1>Education</h1>
      </div>

      <div class="sectionContent">
        <article>
          <h2>College/University</h2>
          <p class="subDetails">Qualification</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
        </article>

        <article>
          <h2>College/University</h2>
          <p class="subDetails">Qualification</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
        </article>
      </div>
      <div class="clear"></div>
    </section>

  </div>
</div>


<input type="button" data-html2canvas-ignore (click)="pdfGenerate()" value="Download pdf" />


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
